table.center {
	font-weight: bold;
	color: black;
	text-align: center;

	margin-left: 120px;
	margin-top: 30px;

	border: ridge;
	border-color: black;

	background-color: gray;
}
.output tr:nth-child(odd)    { background-color:#eee; }
.output tr:nth-child(even)   { background-color:#00FF66; }
.error td{ background-color: gray; }
